   <section class="block container">
      <header class="block_header">
        <h2 class="block_heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
          illo, ipsam necessitatibus dolore neque iste, odit suscipit, blanditiis
          repellat similique eius sit excepturi magnam quae perspiciatis mollitia
          natus quidem id expedita! Praesentium nisi modi veniam numquam, fugit
          eos adipisci magni facere, a exercitationem minus reiciendis, quisquam
          voluptatum cumque maxime voluptas!
        </p>
      </header>
      <div style="width: 30%; padding: 4rem">
        <div class="plan plan-popular">
          <div class="card card-secondary">
            <header class="card_header">
              <h3 class="plan_name">Entry</h3>
              <span class="plan_price">$14</span>
              <span class="plan_billing-cycle">/month</span>
              <span class="badge badge-secondary badge-small">10% OFF</span>
              <span class="plan_description">East Start on cloud</span>
            </header>
            <div class="card_body">
              <ul class="list list-tick">
                <li class="list_item">Item 1</li>
                <li class="list_item">Item 2</li>
                <li class="list_item">Item 3</li>
              </ul>
              <button class="btn btn-outline btn-block">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block block-dark block-skewed-left">
      <div class="container">
        <h2 class="block_heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
          illo, ipsam necessitatibus dolore neque iste, odit suscipit, blanditiis
          repellat similique eius sit excepturi magnam quae perspiciatis mollitia
          natus quidem id expedita! Praesentium nisi modi veniam numquam, fugit
          eos adipisci magni facere, a exercitationem minus reiciendis, quisquam
          voluptatum cumque maxime voluptas!
        </p>
      </div>
    </section>