<div class="callout callout-primary">
      <div class="grid grid--1x2">
        <div class="callout_content">
          <h2 class="callout_heading">Ready to Get started</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora,
            reiciendis. Quibusdam fuga iure ipsa atque qui provident, ad
            nesciunt inventore unde dolorum quos cupiditate perspiciatis
            recusandae aspernatur molestias libero accusamus tempora mollitia,
            hic odio minima eaque quod pariatur blanditiis? Tempore beatae sed
            facere praesentium possimus fuga, eveniet reiciendis cumque tempora!
          </p>
        </div>

        <a href="#" class="btn btn-secondary btn-stretched">Get stared</a>
      </div>
    </div>