<body style="padding: 5rem">
  <div class="collapsible collapsible-expanded">
    <header class="collaspsible_header">
      <h2 class="collapsible_heading">Item 1</h2>

      <svg class="icon icon-white collapsible_chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible_content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eveniet
      sequi fugiat eum itaque laboriosam, deserunt nam dignissimos totam
      corporis! Officiis molestiae dolor eligendi cupiditate minus cum libero
      architecto temporibus, nihil deserunt voluptates aspernatur maxime velit
      delectus itaque cumque. Optio suscipit facere aperiam ex error? Placeat,
      blanditiis. Fugiat, eligendi alias.
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
