<footer class="block block-dark footer">
  <div class="container grid footer_sections">
    <section class="collapsible collapsible-expanded footer_section">
      <header class="collaspsible_header">
        <h2 class="collapsible_heading footer_heading">Item 1</h2>
        <svg class="icon icon-white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collaspsible_header">
        <h2 class="collapsible_heading footer_heading">Item 2</h2>
        <svg class="icon icon-white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collaspsible_header">
        <h2 class="collapsible_heading footer_heading">Item 3</h2>
        <svg class="icon icon-white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="footer_brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer_copyright">Copyright 2021 Jane</p>
    </section>
  </div>
</footer>
