<div class="media">
  <div class="media_image">
    <span class="icon--container">
      <svg class="icon icon-primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </span>
  </div>
  <div class="media_body">
    <h3 class="media_title">Easy Start & Managed Updated</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, mollitia.
      Rerum, pariatur eligendi doloremque asperiores repellendus maiores id
      blanditiis ex culpa recusandae. Quam, itaque! Deserunt odio quibusdam
      ratione et cumque, autem exercitationem odit perspiciatis totam nemo
      repellendus enim rem facere magni nobis itaque expedita architecto sint,
      commodi illum perferendis. Sit.
    </p>
  </div>
</div>
