<blockquote class="quote">
  <p class="quote_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
    incidunt expedita sunt ullam odit nihil ipsa vel reiciendis voluptatem modi
    placeat doloribus iure dolores neque veniam facilis molestias, dolore quia.
    Eius quae facilis voluptate reiciendis perspiciatis aliquid ea cum labore
    aut ipsam, eveniet dolorum? Aspernatur at sed omnis quisquam quibusdam.
  </p>
  <footer>
    <div class="media">
      <div class="media_image">
        <span class="icon--container">
          <svg class="icon icon-primary quote_line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </span>
      </div>
      <div class="media_body">
        <h3 class="media_title quote_author">John Smith</h3>
        <p class="quote_organization">ABC company</p>
      </div>
    </div>
  </footer>
</blockquote>
