<section class="block block-dark block-skewed-right block-showcase">
  <header class="block_header">
    <h2>User Friendly COntrol Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase_image">
      <source
        type="image/webp"
        srcset="images/ipad1x.webp 1x, images/ipad2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad1x.png 1x, images/ipad2x.png 2x"
      />
      <img src="images/ipad1x.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media_image">
            <span class="icon--container">
              <svg class="icon icon-secondary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media_body">
            <h3 class="media_title">Easy Start & Managed Updated</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id,
              mollitia. Rerum, pariatur eligendi doloremque asperiores
              repellendus maiores id blanditiis ex culpa recusandae. Quam,
              itaque! Deserunt odio quibusdam ratione et cumque, autem
              exercitationem odit perspiciatis totam nemo repellendus enim rem
              facere magni nobis itaque expedita architecto sint, commodi illum
              perferendis. Sit.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media_image">
            <span class="icon--container">
              <svg class="icon icon-primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media_body">
            <h3 class="media_title">Easy Start & Managed Updated</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id,
              mollitia. Rerum, pariatur eligendi doloremque asperiores
              repellendus maiores id blanditiis ex culpa recusandae. Quam,
              itaque! Deserunt odio quibusdam ratione et cumque, autem
              exercitationem odit perspiciatis totam nemo repellendus enim rem
              facere magni nobis itaque expedita architecto sint, commodi illum
              perferendis. Sit.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media_image">
            <span class="icon--container">
              <svg class="icon icon-primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media_body">
            <h3 class="media_title">Easy Start & Managed Updated</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id,
              mollitia. Rerum, pariatur eligendi doloremque asperiores
              repellendus maiores id blanditiis ex culpa recusandae. Quam,
              itaque! Deserunt odio quibusdam ratione et cumque, autem
              exercitationem odit perspiciatis totam nemo repellendus enim rem
              facere magni nobis itaque expedita architecto sint, commodi illum
              perferendis. Sit.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
